@font-face {
  font-family: 'RobotoMono';
  src: url('./fonts/Roboto-Regular.ttf');
}

* {
  font-family: 'RobotoMono', monospace;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background: linear-gradient(to top, #8a0005, #000000);
}